@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1><strong> Sales Web MVC Project</strong></h1>
    <p>This is a simple project, which has been created for studying purpose.</p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>